In [93]:
import pandas as pd
from dateutil import parser
import numpy as np
import math

In [15]:
df = pd.read_excel(r'/Users/vascobartolomeu/Desktop/Lista Incendios_2015.xlsx')
print(df.iloc[0,17])
print(str(int(df.iloc[0,17][8:10]) - int(df.iloc[0,15][8:10])) + 'days')
#df.head()

,Ano,Codigo SGIF,Codigo_ANPC,Tipo,Distrito,Concelho,Freguesia,Local,INE,x,...,Falso Alarme,Fogacho,Incendio,Agricola,Perimetro,APS,Causa,TipoCausa,Região PROF,UGF
0,2015,DM315252,2015160007544,Florestal,Viana do Castelo,Ponte de Lima,Serdedelo,VALE DE TROVELA (SERDEDELO),160746,167814,...,0,0,1,0,NaN,NaN,122.0,Negligente,Entre Douro e Minho,Alto Minho
1,2015,DM215305,2015130043758,Florestal,Porto,Marco de Canaveses,Vila Boa de Quires,LUGAR DO FOFO,130731,193731,...,0,0,1,0,NaN,NaN,122.0,Negligente,Entre Douro e Minho,Tâmega
2,2015,DM415293,2015030021973,Florestal,Braga,Vila Verde,Lage,RUA PROF ABEL MADEIRA,31323,172162,...,0,1,0,0,NaN,NaN,60.0,Desconhecida,Entre Douro e Minho,Baixo Minho
3,2015,DM315261,2015160007563,Falso Alarme,Viana do Castelo,Ponte de Lima,Boalhosa,J. DEPOSITOS DE AGUA (BOALHOSA),160709,171291,...,1,0,0,0,NaN,NaN,630.0,Desconhecida,Entre Douro e Minho,Alto Minho
4,2015,BL115321,2015180015874,Agrícola,Viseu,Castro Daire,Castro Daire,Farejinhas - Bº das Queirós,180304,217299,...,0,1,0,0,NaN,NaN,630.0,Desconhecida,Beira Litoral,Dão Lafões

In [86]:
df.iloc[0:25,13:19]

,DataAlerta,HoraAlerta,DataExtincao,HoraExtincao,Data1Intervencao,Hora1Intervencao
0,2015-03-24 00:00:00.000,17:01:00,2015-03-24 00:00:00.000,18:09:00,2015-03-24 00:00:00.000,17:10:00
1,2015-03-24 00:00:00.000,17:10:00,2015-03-24 00:00:00.000,18:47:00,2015-03-24 00:00:00.000,17:16:00
2,2015-03-24 00:00:00.000,19:15:00,2015-03-24 00:00:00.000,20:00:00,2015-03-24 00:00:00.000,19:25:00
3,2015-03-24 00:00:00.000,20:05:00,2015-03-24 00:00:00.000,21:30:00,2015-03-24 00:00:00.000,20:20:00
4,2015-03-24 00:00:00.000,20:10:00,2015-03-24 00:00:00.000,21:00:00,2015-03-24 00:00:00.000,20:15:00
5,2015-03-24 00:00:00.000,18:03:00,2015-03-25 00:00:00.000,01:50:00,2015-03-24 00:00:00.000,18:15:00
6,2015-03-24 00:00:00.000,21:40:00,2015-03-25 00:00:00.000,05:45:00,2015-03-24 00:00:00.000,22:00:00
7,2015-03-25 00:00:00.000,10:30:00,2015-03-25 00:00:00.000,11:10:00,2015-03-25 00:00:00.000,10:40:00
8,2015-03-25 00:00:00.000,15:30:00,2015-03-25 00:00:00.000,18:25:00,2015-03-25 00:00:00.000,15:40:00
9,2015-03-25 00:00:00.000,16:00:00,2015-03-25 00:00:00.000,17:00:00,2015-03-25 00:00:00.000,16:14:00
10,2015-03-25 00:00:00.000,16:05:00,2015-03-25 00:00:00.000,17:00:00,2015-03-25 00:00:00.000,16:15:00
11,2015-03-25 00:00:00.000,16:40:00,2015-03-25 00:00:00.000,18:00:00,2015-03-25 00:00:00.000,17:15:00
12,2015-03-12 00:00:00.000,12:50:00,2015-03-12 00:00:00.000,15:15:00,2015-03-12 00:00:00.000,13:10:00
13,2015-03-12 00:00:00.000,14:46:00,2015-03-12 00:00:00.000,15:30:00,2015-03-12 00:00:00.000,14:50:00
14,2015-03-12 00:00:00.000,15:44:00,2015-03-12 00:00:00.000,16:33:00,2015-03-12 00:00:00.000,15:45:00
15,2015-03-12 00:00:00.000,17:20:00,2015-03-12 00:00:00.000,18:30:00,2015-03-12 00:00:00.000,17:40:00
16,2015-03-12 00:00:00.000,18:58:00,2015-03-12 00:00:00.000,19:20:00,2015-03-12 00:00:00.000,19:10:00
17,2015-03-13 00:00:00.000,14:48:00,2015-03-13 00:00:00.000,16:27:00,2015-03-13 00:00:00.000,15:18:00
18,2015-03-13 00:00:00.000,15:33:00,2015-03-13 00:00:00.000,18:00:00,2015-03-13 00:00:00.000,15:44:00
19,2015-03-13 00:00:00.000,16:35:00,2015-03-13 00:00:00.000,18:10:00,2015-03-13 00:00:00.000,16:55:00
20,2015-03-13 00:00:00.000,16:54:00,2015-03-13 00:00:00.000,20:21:00,2015-03-13 00:00:00.000,17:10:00
21,2015-03-13 00:00:00.000,19:00:00,2015-03-13 00:00:00.000,21:40:00,2015-03-13 00:00:00.000,19:45:00
22,2015-03-14 00:00:00.000,06:10:00,2015-03-14 00:00:00.000,08:30:00,2015-03-14 00:00:00.000,06:15:00
23,2015-03-14 00:00:00.000,06:52:00,2015-03-14 00:00:00.000,09:00:00,2015-03-14 00:00:00.000,07:34:00
24,2015-03-11 00:00:00.000,18:58:00,2015-03-11 00:00:00.000,19:24:00,NaN,NaN

In [17]:
#print('0' + 'days', str(df.iloc[0,16].hour - df.iloc[0,14].hour) + 'h ' + str(df.iloc[0,16].minute - df.iloc[0,14].minute) + 'm ' + str(df.iloc[0,16].second - df.iloc[0,14].second) + 's')
print(df.iloc[0,17])
print(str(int(df.iloc[0,17][8:10]) - int(df.iloc[0,15][8:10])) + 'days')

2015-03-24 00:00:00.000
0days

In [137]:
tempo_intervencao = [None] * (len(df.index))
tempo_extincao = [None] * (len(df.index))
for i in range(len(df.index)):
    if pd.isna(df.iloc[i,13]) or pd.isna(df.iloc[i,14]) or pd.isna(df.iloc[i,17]) or pd.isna(df.iloc[i,18]):
        tempo_intervencao[i] = ('Cannot calcule')
    if pd.isna(df.iloc[i,15]) or pd.isna(df.iloc[i,16]) or pd.isna(df.iloc[i,17]) or pd.isna(df.iloc[i,18]):
        tempo_extincao[i] = ('Cannot calcule')
    else: 
        data_alerta = parser.parse(str(df.iloc[i,13][:10]) + ' ' + str(df.iloc[i,14]))
        data_int = parser.parse(str(df.iloc[i,17][:10]) + ' ' + str(df.iloc[i,18]))
        data_ext = parser.parse(str(df.iloc[i,15][:10]) + ' ' + str(df.iloc[i,16]))
        tempo_intervencao[i] = (str(abs(data_int - data_alerta)))
        tempo_extincao[i] = (str(abs(data_ext - data_int)))

df['TempoExtincao'] = tempo_extincao
df['TempoIntervencao'] = tempo_intervencao
df.head()

,Ano,Codigo SGIF,Codigo_ANPC,Tipo,Distrito,Concelho,Freguesia,Local,INE,x,...,Incendio,Agricola,Perimetro,APS,Causa,TipoCausa,Região PROF,UGF,TempoExtincao,TempoIntervencao
0,2015,DM315252,2015160007544,Florestal,Viana do Castelo,Ponte de Lima,Serdedelo,VALE DE TROVELA (SERDEDELO),160746,167814,...,1,0,NaN,NaN,122.0,Negligente,Entre Douro e Minho,Alto Minho,0:59:00,0:09:00
1,2015,DM215305,2015130043758,Florestal,Porto,Marco de Canaveses,Vila Boa de Quires,LUGAR DO FOFO,130731,193731,...,1,0,NaN,NaN,122.0,Negligente,Entre Douro e Minho,Tâmega,1:31:00,0:06:00
2,2015,DM415293,2015030021973,Florestal,Braga,Vila Verde,Lage,RUA PROF ABEL MADEIRA,31323,172162,...,0,0,NaN,NaN,60.0,Desconhecida,Entre Douro e Minho,Baixo Minho,0:35:00,0:10:00
3,2015,DM315261,2015160007563,Falso Alarme,Viana do Castelo,Ponte de Lima,Boalhosa,J. DEPOSITOS DE AGUA (BOALHOSA),160709,171291,...,0,0,NaN,NaN,630.0,Desconhecida,Entre Douro e Minho,Alto Minho,1:10:00,0:15:00
4,2015,BL115321,2015180015874,Agrícola,Viseu,Castro Daire,Castro Daire,Farejinhas - Bº das Queirós,180304,217299,...,0,0,NaN,NaN,630.0,Desconhecida,Beira Litoral,Dão Lafões,0:45:00,0:05:00

In [111]:
x = parser.parse(str(df.iloc[23,13][:10]) + ' ' + str(df.iloc[23,14]))
y = parser.parse(str(df.iloc[23,17][:10]) + ' ' + str(df.iloc[23,18]))
print(str(abs((x - y))))

0:42:00

In [117]:
print(pd.isnull(df.iloc[24,17]))

True