In [14]:
import pandas as pd
import datetime
import numpy as np

In [15]:
df = pd.read_excel(r'/Users/vascobartolomeu/Desktop/Lista Incendios_2015.xlsx')
print(df.iloc[0,17])
print(str(int(df.iloc[0,17][8:10]) - int(df.iloc[0,15][8:10])) + 'days')
#df.head()

,Ano,Codigo SGIF,Codigo_ANPC,Tipo,Distrito,Concelho,Freguesia,Local,INE,x,...,Falso Alarme,Fogacho,Incendio,Agricola,Perimetro,APS,Causa,TipoCausa,Região PROF,UGF
0,2015,DM315252,2015160007544,Florestal,Viana do Castelo,Ponte de Lima,Serdedelo,VALE DE TROVELA (SERDEDELO),160746,167814,...,0,0,1,0,NaN,NaN,122.0,Negligente,Entre Douro e Minho,Alto Minho
1,2015,DM215305,2015130043758,Florestal,Porto,Marco de Canaveses,Vila Boa de Quires,LUGAR DO FOFO,130731,193731,...,0,0,1,0,NaN,NaN,122.0,Negligente,Entre Douro e Minho,Tâmega
2,2015,DM415293,2015030021973,Florestal,Braga,Vila Verde,Lage,RUA PROF ABEL MADEIRA,31323,172162,...,0,1,0,0,NaN,NaN,60.0,Desconhecida,Entre Douro e Minho,Baixo Minho
3,2015,DM315261,2015160007563,Falso Alarme,Viana do Castelo,Ponte de Lima,Boalhosa,J. DEPOSITOS DE AGUA (BOALHOSA),160709,171291,...,1,0,0,0,NaN,NaN,630.0,Desconhecida,Entre Douro e Minho,Alto Minho
4,2015,BL115321,2015180015874,Agrícola,Viseu,Castro Daire,Castro Daire,Farejinhas - Bº das Queirós,180304,217299,...,0,1,0,0,NaN,NaN,630.0,Desconhecida,Beira Litoral,Dão Lafões

In [16]:
df.iloc[:,13:19]

,DataAlerta,HoraAlerta,DataExtincao,HoraExtincao,Data1Intervencao,Hora1Intervencao
0,2015-03-24 00:00:00.000,17:01:00,2015-03-24 00:00:00.000,18:09:00,2015-03-24 00:00:00.000,17:10:00
1,2015-03-24 00:00:00.000,17:10:00,2015-03-24 00:00:00.000,18:47:00,2015-03-24 00:00:00.000,17:16:00
2,2015-03-24 00:00:00.000,19:15:00,2015-03-24 00:00:00.000,20:00:00,2015-03-24 00:00:00.000,19:25:00
3,2015-03-24 00:00:00.000,20:05:00,2015-03-24 00:00:00.000,21:30:00,2015-03-24 00:00:00.000,20:20:00
4,2015-03-24 00:00:00.000,20:10:00,2015-03-24 00:00:00.000,21:00:00,2015-03-24 00:00:00.000,20:15:00
...,...,...,...,...,...,...
23170,2015-08-09 00:00:00.000,02:10:00,2015-08-09 00:00:00.000,03:15:00,2015-08-09 00:00:00.000,02:20:00
23171,2015-08-09 00:00:00.000,04:40:00,2015-08-09 00:00:00.000,09:30:00,2015-08-09 00:00:00.000,04:53:00
23172,2015-08-09 00:00:00.000,05:50:00,2015-08-09 00:00:00.000,06:40:00,2015-08-09 00:00:00.000,05:55:00
23173,2015-08-09 00:00:00.000,08:20:00,2015-08-09 00:00:00.000,10:40:00,2015-08-09 00:00:00.000,08:25:00
23174,2015-08-09 00:00:00.000,09:09:00,2015-08-09 00:00:00.000,11:03:00,2015-08-09 00:00:00.000,09:12:00

In [17]:
#print('0' + 'days', str(df.iloc[0,16].hour - df.iloc[0,14].hour) + 'h ' + str(df.iloc[0,16].minute - df.iloc[0,14].minute) + 'm ' + str(df.iloc[0,16].second - df.iloc[0,14].second) + 's')
print(df.iloc[0,17])
print(str(int(df.iloc[0,17][8:10]) - int(df.iloc[0,15][8:10])) + 'days')

2015-03-24 00:00:00.000
0days

In [25]:
tempo_intervencao = np.zeros((10,), dtype=int)
tempo_extincao = np.zeros((10,), dtype=int)
x = datetime.datetime.strptime(df.iloc[0,15][0:19], '%y-%m-%d %H:%M:%S')
#tempo_extincao[0] = str(int(df.iloc[i,15][8:10]) - int(df.iloc[i,17][8:10])) + 'days', str(df.iloc[i,18].hour - df.iloc[i,16].hour) + 'h ' + str(df.iloc[i,18].minute - df.iloc[i,16].minute) + 'm ' + str(df.iloc[i,18].second - df.iloc[i,16].second) + 's'

print(x)

ValueError: time data '2015-03-24 00:00:00' does not match format '%y-%m-%d %H:%M:%S'

ERROR! Session/line number was not unique in database. History logging moved to new session 76

In [6]:
import datetime
first_time = datetime.datetime.now()
first_time

datetime.datetime(2022, 10, 1, 12, 39, 51, 822936)